
{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
  
  <div class="auth-section">
    <div class="content-header text-center">
      <h3>TALIE</h3>
      <p><em><blockquote>Proposal submission form form!</blockquote></em></p>
      <p>Type you bid and click send bid to submit</p>
    </div>
    <div class="form-container">
      <div class="expert-form">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="body">Type Proposal:</label><br>
            <textarea name="body" id="bidtextarea" class="form-control" rows="10"></textarea>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Send -></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    let input_field = document.getElementsByTagName('textarea')
    input_field.placeholder = 'Type here...'

    
    input_fields.className = ' form-control shadow-sm';
  </script>
{% endblock content %}