
{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<div class="home-section">
  <div class="container">
    <div class="row">
      <div class="content-section">
        <div class="home-info">
          <div class="section-content">
            <h1>Welcome to TALIE, the global work transformation hub.</h1>
            <p>This is the content section <a href=" {% url 'signup' %} " class="auth-btn">Join Today</a></p>
          </div>
        </div>
        <div class="home-img">
          <div class="section-img">
            <img src=" {% static 'accounts/images/a4.jpg' %} " alt="Home Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}